{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<h1 align="center">Japanese Kanji Reading Level Grader</h1>
<ul class="list-group list-group-flush" id="user">
  {% for data in user.url %}
  <li class="list-group-item">
    <button type="button" class="close" onClick="deleteUrl({{ data.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
    <p>URL: {{ data.url }}</p>
    <p>Date: {{ data.date }}</p>
    <p>Total Number of Kanji in URL by JLPT Level (includes duplicates):</p>
    <p>N5: {{ data.totalN5 }}, N4: {{ data.totalN4 }}, N3: {{ data.totalN3 }}, N2: {{ data.totalN2 }}, N1: {{ data.totalN1 }}</p>
    <p>Number of Known Kanji in URL by JLPT Level (includes duplicates):</p>
    <p>N5: {{ data.knownN5 }}, N4: {{ data.knownN4 }}, N3: {{ data.knownN3 }}, N2: {{ data.knownN2 }}, N1: {{ data.knownN1 }}</p>
    <p>List of Unknown Kanji: {{ data.unknownKanji }}</p>
    <p>At time of entry you were able to read {{ data.readPercentage }}% of the URL.</p>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <p>URL:</p>
  <textarea name="url" id="url" class="form-control"></textarea>
  <br />
  <p>Known Kanji:</p>
  <textarea name="knownKanji" id="knownKanji" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
{% endblock %}