{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<h1 align="center">Japanese Kanji Reading Level Grader</h1>
<ul class="list-group list-group-flush" id="user">
  {% for data in user.url %}
  <li class="list-group-item">
    {{ data.url }}
    <button type="button" class="close" onClick="deleteUrl({{ data.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <p>URL:</p>
  <textarea name="url" id="url" class="form-control"></textarea>
  <br />
  <p>Known Kanji:</p>
  <textarea name="knownKanji" id="knownKanji" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
{% endblock %}