{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<h1 align="center">Game Log</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in notes_list %}
    {% for character in note%}

      <input type="checkbox" id={{ character }} name={{ character }}>
      <label for={{ character }}>{{ character }}</label>
  
  {% endfor %} {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Enter Input</button>
  </div>
</form>
{% endblock %}